<div class="header">
    {{!-- TODO: Add banner image from: https://drive.google.com/file/d/1NJJbiQjhfdtHoZxf2-iS522TDxJ9J0YO/view?usp=sharing --}}
    {{!-- Uncomment and add your banner image URL below:
    <img src="YOUR_BANNER_IMAGE_URL" alt="PlanetTalk" style="max-width: 100%; height: auto; display: block; margin: 0 auto;" />
    --}}
    <h1>PlanetTalk</h1>
    <p style="font-size: 14px; opacity: 0.9; margin: 5px 0;">Connecting Families Worldwide</p>
    {{#if title}}
    <p class="subtitle">{{title}}</p>
    {{/if}}
    {{#if subtitle}}
    <p class="subtitle">{{subtitle}}</p>
    {{/if}}
</div>
