<div class="header">
    <h1>PlanetTalk</h1>
    <p style="font-size: 14px; opacity: 0.9; margin: 5px 0;">Connecting Families Worldwide</p>
    {{#if title}}
    <p class="subtitle">{{title}}</p>
    {{/if}}
    {{#if subtitle}}
    <p class="subtitle">{{subtitle}}</p>
    {{/if}}
</div>
