<div class="header">
    <img src="https://drive.google.com/uc?export=view&id=1NJJbiQjhfdtHoZxf2-iS522TDxJ9J0YO" alt="PlanetTalk Agent Programme" style="max-width: 100%; height: auto; display: block; margin: 0 auto;" />
</div>
